from typing import Any
from langboard_shared.models import {class_name}Activity, Bot, User
from langboard_shared.models.{class_name}Activity import {class_name}ActivityType
from langboard_shared.models.ActivityTaskHelper import ActivityTaskHelper
from langboard_shared.models.UserActivityTask import record_project_activity
from langboard_shared.core.broker import Broker

