from typing import Any
from ...domain.models import {class_name}Activity, Bot, User
from ...domain.models.{class_name}Activity import {class_name}ActivityType
from ...domain.models.ActivityTaskHelper import ActivityTaskHelper
from ...domain.models.UserActivityTask import record_project_activity
from ...core.broker import Broker

