from ..core.db import ApiField, SnowflakeIDField
from ..core.types import SnowflakeID
from .bases import BaseBotScheduleModel
from .{class_name} import {class_name}


class {class_name}BotSchedule(BaseBotScheduleModel, table=True):
    {column_name}_id: SnowflakeID = SnowflakeIDField(
        foreign_key={class_name}, nullable=False, index=True, api_field=ApiField(name="{column_name}_uid")
    )

    @staticmethod
    def get_scope_column_name() -> str:
        return "{column_name}_id"
