from core.db import ApiField, SnowflakeIDField
from core.types import SnowflakeID
from .bases import BaseBotLogModel
from .{class_name} import {class_name}


class {class_name}BotLog(BaseBotLogModel, table=True):
    {column_name}_id: SnowflakeID = SnowflakeIDField(
        foreign_key={class_name}, nullable=False, index=True, api_field=ApiField(name="filterable_uid")
    )
